/** @format */
@import "./utils/colors";
@import "./utils/constants";

// .btn-primary {
// background-color: #00008f !important;
// }

.search-overview {
  display: block;
  margin: 30px;

  @media #{$desktop} {
    margin: 100px;
  }

  & > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }
  &__input {
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    &:focus {
      outline: 0;
    }
  }
  &__button {
    color: $COLOR_TEXT_WHITE;
    background-color: $COLOR_DARK_BLUE;
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    @media #{$desktop} {
      max-width: 100px;
      margin: 0;
    }
  }

  &__header {
    margin: 20px;
    align-content: center;
    padding: 10px;
    text-align: center;
    > input[type="text"] {
      height: 50px;
      min-width: 120px;
      max-width: 500px;
    }
  }
  &__label {
    margin-left: 20px;
    color: $COLOR_DARK_BLUE;
    padding: 10px;
    vertical-align: middle;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: left;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
  }

  &__item {
    order: 0;
    text-align: left;
    padding-left: 20px;
    width: 130px;
  }
  &__item-header {
    order: 0;
    text-align: left;
    padding-left: 20px;
    width: 130px;
    color: $COLOR_DARK_BLUE;
    font-weight: bold;
  }

  &__item-contents {
    order: 0;
    flex: 1 0 auto;
    padding-left: 30px;
  }

  &__item-header-contents {
    order: 0;
    flex: 1 0 auto;
    padding-left: 30px;
    color: $COLOR_DARK_BLUE;
    font-weight: bold;
  }
}
.main-title {
  padding-top: 10px;
}
