/** @format */
@import "./utils/colors";
@import "./utils/constants";

.search-overview {
  display: block;
  margin: 30px;
  font-family: "Helvetica";
  font-size: 28px;
  line-height: 48px;

  &__logo {
    float: left;
    text-align: left;
    width: 33.33333%;
  }

  &__title {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      font-size: 32px;
      color: $COLOR_DARK_BLUE;
      font-family: "Helvetica";
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-version {
      color: $COLOR_BLACK;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  thead {
    color: $COLOR_DARK_BLUE;
    font-size: 32px;
    line-height: 48px;
  }

  td:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    color: $COLOR_DARK_BLUE;
  }

  td:nth-child(4) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
  }

  &__link {
    color: $COLOR_DARK_BLUE;
  }

  @media #{$desktop} {
    margin: 100px;
  }

  & .table-responsive > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
  }
  &__input {
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    &:focus {
      outline: 0;
    }
  }
  &__button {
    color: $COLOR_TEXT_WHITE;
    background-color: $COLOR_DARK_BLUE;
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    @media #{$desktop} {
      max-width: 150px;
      margin: 0 30px;
    }
  }

  &__header {
    margin: 20px;
    align-content: center;
    padding: 10px;
    text-align: center;
    > input[type="text"] {
      height: 50px;
      min-width: 120px;
      max-width: 500px;
    }
  }
  &__label {
    margin-left: 20px;
    color: $COLOR_DARK_BLUE;
    vertical-align: middle;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: left;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
  }

  &__item {
    order: 0;
    text-align: left;
    padding-left: 20px;
    width: 130px;
  }
  &__item-header {
    order: 0;
    text-align: left;
    padding-left: 20px;
    width: 130px;
    color: $COLOR_DARK_BLUE;
    font-weight: bold;
  }

  &__item-contents {
    order: 0;
    flex: 1 0 auto;
    padding-left: 30px;
  }

  &__item-header-contents {
    order: 0;
    flex: 1 0 auto;
    padding-left: 30px;
    color: $COLOR_DARK_BLUE;
    font-weight: bold;
  }
}
